<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Area Calculator - <%= data.shape %></title>
</head>
<body>
    <h1>Calculate Area of a <%= data.shape %></h1>

    <% if (data.area) { %>
        <p>The area of the <%= data.shape %> is: <%= data.area %></p>
    <% } else { %>
        <form action="/calculate/triangle" method="post">
            <h3>Base:</h3> <input type="text" name="base" required>
            <h3>Height:</h3> <input type="text" name="height" required>
            <button type="submit">Calculate Area</button>
        </form>

        <h3>Formula: <%= data.formula %></h3>
        <img src="<%= data.imagePath %>" alt="<%= data.shape %>">
    <% } %>
</body>
</html>
